<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="/stylesheets/buttons.css">
	<link rel="stylesheet" href="/stylesheets/hover.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
	<script type="text/javascript" src="/javascripts/buttons.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <meta property="og:title" content="Quote Robot" />
	
  </head>
  <style>
	body { 
	    background-color: black;
	}

	#middle {
	    margin-left: auto;
	    margin-right: auto;
	    width: 10%;
	}

	#white {
		padding-top: 100px;
		font-family: 'Oswald', sans-serif;
		color: white;
		font-size: 500%;
		text-align: center;
	}

	#author {
		padding-top: 100px;
		font-family: 'Rock Salt', cursive;
		color: white;
		font-size: 200%;
	  	text-align: right;
	}

 </style>

  <body>
  	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-546f714f3c219ec8" async="async"></script>
  	<div id='middle'>
  		<span id='play'>
   			<a href="#" class="button button-3d-highlight button-circle"></a>
   		</span>
  	</div>
  	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<div class="addthis_native_toolbox"></div>
   	<div id='white'></div>
   	<div id='author' class= "hvr-underline-reveal"></div>
   	<div id="wikipediaContainer"</div>
<!-- 	// <script src="/javascripts/bundle.js"></script> -->
  	<script src="/javascripts/allQuotes.js"></script>  
   <script>
   		 //call the quoteData function to bring in all quotes into the DOM
   		 var allData = quoteData();
   		 //Initialize empty list of authors
   		 authorData = [];
   		 //put all the authors name in the authorData list
   		 for(var authors in  allData) {
   		 	authorData.push(authors)
	 	 }

	 	 //Initialize empty quote variable to hold the value of the current quote
	 	 var quote;
         $(document).ready(function() {
	        $('#play').click(function() {
	        	//get a random number to pick an author from the author list
	        	var randomNumber = Math.floor((Math.random() * 518) + 1);
	        	//get a random number to subset authors that have more than one quote
	        	var longWinded = allData[authorData[randomNumber]].length
	        	//get a random number to subset array of authors with more than one quote
	        	var randomNumber2 = Math.floor((Math.random() * longWinded))
	        	//Checks wheter or not the author has more than one quote and subsets quote list based on that rule
	        	if(allData[authorData[randomNumber]].length > 1) {
	        		quote = allData[authorData[randomNumber]][randomNumber2]
	        	} else{
	        		quote = allData[authorData[randomNumber]][0]
	        	}	
	        	//SET QUOTE AND AUTHOR IN DOM
				$('#white').text(quote);
				$('#author').text('-' + authorData[randomNumber]);
			})
        });
	</script>  	
</body>
</html>

