<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="/stylesheets/buttons.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
	<script type="text/javascript" src="/javascripts/buttons.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <meta property="og:title" content="Quote Robot" />
	
  </head>
  <style>
	body { 
	    background-color: black;
	}

	#middle {
	    margin-left: auto;
	    margin-right: auto;
	    width: 10%;
	}

	#white {
		padding-top: 100px;
		font-family: 'Oswald', sans-serif;
		color: white;
		font-size: 500%;
		text-align: center;
	}

	#author {
		padding-top: 100px;
		font-family: 'Rock Salt', cursive;
		color: white;
		font-size: 200%;
		text-align: right;
	}

 </style>
  <body>
  	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-546f714f3c219ec8" async="async"></script>
  	<div id='middle'>
  		<span id='play'>
   			<a href="#" class="button button-3d-highlight button-circle">Press me</a>
   		</span>
  	</div>
  	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<div class="addthis_native_toolbox"></div>
   	<div id='white'></div>
   	<div id='author'></div>

   <script src="/javascripts/allQuotes.js"></script>  
   <script>
		 var allData = quoteData();
   		 authorData = [];
   		 for(var authors in  allData) {
   		 	authorData.push(authors)
	 	 }
	 	 var quote;
         $(document).ready(function() {
	        // var audioElement = document.createElement('audio');
	        // audioElement.setAttribute('src', 'http://www.myinstants.com/media/sounds/inceptionbutton.mp3');
	        // audioElement.setAttribute('autoplay', 'autoplay');
	        // //audioElement.load()
	        // $.get();
	        // audioElement.addEventListener("load", function() {
	        // audioElement.play();
	        // }, true);
	        $('#play').click(function() {
	        	// audioElement.play();
	        	var randomNumber = Math.floor((Math.random() * 518) + 1);
	        	var longWinded = allData[authorData[randomNumber]].length
	        	var randomNumber2 = Math.floor((Math.random() * longWinded))
	        	if(allData[authorData[randomNumber]].length > 1) {
	        		quote = allData[authorData[randomNumber]][randomNumber2]
	        	} else{
	        		quote = allData[authorData[randomNumber]][0]
	        	}	
	        	// $('head').append('<meta property="og:description" content=' + quote + '/>');
				$('#white').text(quote);
				$('#author').text('-' + authorData[randomNumber]);
			})

	     //    $('.pause').click(function() {
	     //    	audioElement.pause();
	    	// });
        });
	</script>  	
</body>
</html>

